@model MVCPersonalSite.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>I can be reached using the information below anytime between the hours of 9am and 6pm.</p>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99214.51586742463!2d-94.349191879215!3d39.00496456225435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c11a4d25e0e57b%3A0x109f2216ac1f2d35!2sBlue%20Springs%2C%20MO!5e0!3m2!1sen!2sus!4v1678471100401!5m2!1sen!2sus" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="row mt-5">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class=" row font-italic">
                        <p class="text-danger" style="font-style: italic">
                            @Html.Raw(ViewBag.ErrorMessage)
                        </p>
                    </div>
                }

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Blue Springs, Mo</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>brodi672@outlook.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>Email to Find Out</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form asp-action="Contact"class="email-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Your Name" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Your Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for="Subject" type="text" class="form-control" placeholder="Subject" required>
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message" required></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


