@{
    ViewData["Title"] = "Store Front Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SF1.png" alt="Picture of the dungeon application code">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SF2.png" alt="Picture of the dungeon application code">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SF3.png" alt="Picture of the dungeon application code">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Store Front Application Information</h3>
                        <ul>
                            <li><strong>Category</strong>: SQL & .Net MVC Core Store Front</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: 24 April, 2023</li>
                            <li><strong>GitHub URL</strong>: <a href="https://github.com/BrodiShrout/NeiR" target="_blank">Dungeon Application Github</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the MVC Store Front Application</h2>
                        <p>
                            The StoreFront Application is intended to showcase your ability to use both SQL and .Net MVC Core to build a foundational store website.
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            The StoreFront Application is intended to showcase your ability to build full stack web applications.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->