@model MVCPersonalSite.Models.ProjectViewModel
@{
    ViewData["Title"] = "Portfolio";
}
<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Currently under construction with only one of the below projects being recently completed. More updates coming soon!</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                         <li data-filter="*" class="filter-active">PLACEHOLDER</li>
                              <li data-filter=".filter-app">APP</li>
                              <li data-filter=".filter-card">PROJECTS</li>
                              <li data-filter=".filter-web">WEB</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                @foreach (ProjectViewModel item in ViewBag.Project)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/images/Screenshot 2023-03-09 141856.png" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Dungeon Application</h4>
                                <p>This it is a .NET Core Console Application where the foundational concepts of C# as a language were learned.
                               </p>
                                <div class="portfolio-links">
                                    <a href="~/images/dungeonVideo.mp4" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon Application"><i class="bx bx-plus"></i></a>
                                    <a href="@Url.Action("PortfolioDetails","Home", new { @id = 1} )" title="Dungeon Application"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                } 
                </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->
