@{
    ViewData["Title"] = "SAT Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SAT.png" alt="SAT">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SAT.png" alt="SAT">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SAT.png" alt="SAT">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>SAT Information</h3>
                        <ul>
                            <li><strong>Category</strong>: SAT</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: ?</li>
                            <li><strong>GitHub URL</strong>: <a href="" target="_blank">SAT Github</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the SAT Application</h2>
                        <p>
                            SAT
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            SAT
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->