@{
    ViewData["Title"] = "HC Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/HC1.png" alt="A card opened up displaying Happy Halloween">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/HC2.png" alt="The back half of the card where it says Happy Halloween">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/HC3.png" alt="The cover of the card showing a man in a pumpkin head with purple smoke coming out of the eyes and mouth">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Halloween Card Information</h3>
                        <ul>
                            <li><strong>Category</strong>: HC</li>
                            <li><strong>Client</strong>: Personal Project</li>
                            <li><strong>GitHub URL</strong>: <a href="https://github.com/BrodiShrout/Halloween-Card" target="_blank">HC Github</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the personal website</h2>
                        <p>
                            This website utilizes HTML and CSS to promote myself as a freelance front-end web developer.
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            This shows my ability to build an interactive front end applications.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
