@{
    ViewData["Title"] = "React ToDo Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/ToDoApp1.png" alt="React">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/ToDoApp2.png" alt="React">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/ToDoApp3.png" alt="React">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>React ToDo Application Information</h3>
                        <ul>
                            <li><strong>Category</strong>: React</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: 08 May, 2023</li>
                            <li><strong>GitHub URL</strong>: <a href="https://github.com/BrodiShrout/ToDo" target="_blank">React ToDo Github</a></li>
                            <li><strong>Website URL</strong>: <a href="http://todo.brodishrout.com" target="_blank">React ToDo Website</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the React ToDo Application</h2>
                        <p>
                            The React ToDo Application is a portfolio project that will allow you to showcase your ability to build single page applications using React JS.
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            The application will allow users to sign in and see items on their to do list.  Users will be able to add, edit, delete, or mark to do items as complete.  This application will leverage the .NET Web API as the backend of the application.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->