@{
    ViewData["Title"] = "GFD Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/GFD1.png" alt="SAT">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/GFD2.png" alt="SAT">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/GFD3.png" alt="SAT">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>SAT Information</h3>
                        <ul>
                            <li><strong>Category</strong>: GFD</li>
                            <li><strong>Client</strong>: Personal Project</li>
                            <li><strong>GitHub URL</strong>: <a href="https://github.com/BrodiShrout/GFD-Programming" target="_blank">GFD Github</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the personal website</h2>
                        <p>
                            This website utilizes .Net MVC Core to promote myself as a freelance web developer.
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            This shows my ability to build full stack applications.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
