@{
    ViewData["Title"] = "SAT Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SAT1.png" alt="SAT">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SAT2.png" alt="SAT">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/SAT3.png" alt="SAT">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>SAT Information</h3>
                        <ul>
                            <li><strong>Category</strong>: SAT</li>
                            <li><strong>Client</strong>: Centriq Project</li>
                            <li><strong>Project date</strong>: 12 May, 2023 </li>
                            <li><strong>GitHub URL</strong>: <a href="https://github.com/SantiagoEfrain/SATbrofrain" target="_blank">SAT Github</a></li>
                            <li><strong>Website URL</strong>: <a href="http://satbrofrain.brodishrout.com/" target="_blank">SAT Website</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the SAT Application</h2>
                        <p>
                            This website is a ToDo web application that allows the user to set tasks to complete when they are done.
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            This web application was assigned to us to allow us to practice making a website with another person on the same repository.
                            </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->