@{
    ViewData["Title"] = "Project Manager Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/PM1.png" alt="Page displaying a home tab">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/PM2.png" alt="Page displaying the p[roducts table">
                            </div>

                            <div class="swiper-slide">
                                <img class="img-fluid vh-75 m-auto" src="~/images/PM3.png" alt="Page displaying details on the TestProduct">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project Manager Information</h3>
                        <ul>
                            <li><strong>Category</strong>: Project Manager</li>
                            <li><strong>Client</strong>: Freelance Project</li>
                            <li><strong>GitHub URL</strong>: <a href="https://github.com/BrodiShrout/ProjectManagment" target="_blank">PM Github</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the Project Manager Client site</h2>
                        <p>
                            This website utilizes .Net MVC Core to promote myself as a freelance web developer.
                            <br>
                            <br>
                            <strong>Objective of This Project:</strong>
                            <br>
                            <br>
                            This project was originally being made for a construction company so they could track their projects and everyone could view them. 
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
